<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
        <div class="jumbotron">

          <!-- PROFILE COMPONENT-->
            <p><app-profile></app-profile></p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="jumbotron">
            <div class="container-fluid">
              <form>
                <div class="form-group">
                 <label for="comment">Tweet:</label>
                 <textarea class="form-control" rows="3" id="comment"></textarea>
                </div>
             </form>
            </div>
            <p><a class="btn btn-primary btn-sm" role="button">Tweet</a></p>
            <br>
             <p>TWEETS</p>
            <span>
                 <img src="#" alt=""> <strong>@user_id1</strong><br>bla bla bla bla...
                 <p>
                   <a class="btn btn-primary btn-sm" role="button"><span class="glyphicon glyphicon-heart"></span></a>
                   <a class="btn btn-primary btn-sm" role="button"><span class="glyphicon glyphicon-share"></span></a>
                 </p><br>
                  <img src="#" alt=""><strong>@user_id2</strong><br>bla bla bla bla....
                  <p>
                    <a class="btn btn-primary btn-sm" role="button"><span class="glyphicon glyphicon-heart"></span></a>
                    <a class="btn btn-primary btn-sm" role="button"><span class="glyphicon glyphicon-share"></span></a>
                    </p><br>
                 <img src="#" alt=""><strong>@user_id3</strong><br> bla bla bla bla ....
                 <p>
                   <a class="btn btn-primary btn-sm" role="button"><span class="glyphicon glyphicon-heart"></span></a>
                   <a class="btn btn-primary btn-sm" role="button"><span class="glyphicon glyphicon-share"></span></a>
                   </p><br>
              </span>

            
        </div>
    </div>
    <div class="col-sm-4">
        <div class="jumbotron">
            
            <p>WHO to follow</p>
            <span><strong>
                 <img src="#" alt="">@user_id1 <p><a class="btn btn-primary btn-sm" role="button">Follow</a></p><br>
                  <img src="#" alt="">@user_id2 <p><a class="btn btn-primary btn-sm" role="button">Follow</a></p><br>
                 <img src="#" alt="">@user_id3 <p><a class="btn btn-primary btn-sm" role="button">Follow</a></p><br>
              </strong></span>
            
        </div>
    </div>
  </div>
</div>