
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
          <div class="user-profile">
              <div class="avatar">
                <img src="#" alt="">
              </div>
              <div class="profile">
                 <span><strong>@username</strong></span><br>
             </div>
             <div class="my_message" (click)="onClick()">
                 <span class="message_title"><strong>#Message1 Title</strong></span> <br>
                 <div class="message_container">
                     <span class="message_body">Helo blablabla bla</span><br>
                     <p><a class="btn btn-primary btn-sm" role="button">Delete Message</a></p>
                     <p><a class="btn btn-primary btn-sm" role="button">Respond</a></p>
                 </div>
             </div>
           </div>
           
        </div>
    </div>
  </div>
</div>